:root {
	--detail-color: rgb(10, 9, 8);
	--bg-color: rgb(255, 255, 255);
}

html,
body {
	margin: 0;
}

#draw {
	border: 2px dotted var(--detail-color);
}

.tools {
	height: 30px;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tools__tool {
	cursor: pointer;
}

.tools__icon {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	stroke-width: 0;
	stroke: var(--detail-color);
	fill: var(--detail-color);
}

#brush {
	position: relative;
}

.dropdown {
	display: none;
}

.dropdown-item {
	border-bottom: 1px dotted var(--detail-color);
	margin: 1px;
	width: max-content;
}

.active {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 30px;
	left: 150%;
}
